{% extends 'mosques/base.html' %}

{% block content %}
<div class="container-fluid">
<form method="post">
  {% csrf_token %}
  <form method="post">
    
      <label for="id_name">Name:</label>
      <div class="mb-3">
      <input  class="form-control-sm" type="text" name="name" maxlength="100" required="" id="id_name">
      
      
    </div>
  
    <label for="id_address">Address:</label>
    <div class="mb-3">
      
      <input  class="form-control-sm" type="text" name="address" maxlength="100" required="" id="id_address">
      
      
    </div>
  
    
    
      <label for="id_city">City:</label>
      <div class="mb-3">
      <input  class="form-control-sm" type="text" name="city" maxlength="50" required="" id="id_city">
      
      
    </div>
    <p>Click "Locate Me" button if you are inside the mosque. </p>
    <p> Or find the mosque location in google map and put the coordination in latitude and longitude fields.</p>

  <button class="btn btn-primary" onclick="getLocation()">Locate Me</button>
    
  
      <label for="id_longitude">Longitude:</label>
      <div class="mb-3">
      <input  class="form-control-sm" type="number" name="longitude" step="any" required="" id="id_longitude">
      
      
    </div>
  
    
  
      <label for="id_latitude">Latitude:</label>
      <div class="mb-3">
      <input  class="form-control-sm" type="number" name="latitude" step="any" required="" id="id_latitude">
      
      
        
      
    </div>
  
  <button type="submit" class="btn btn-success">Submit
  </button>
  </form>
</div>
  {% endblock content %}

 {% block script %}

    var x = document.getElementById("id_longitude");
    var y = document.getElementById("id_latitude");

  {% endblock script %}
